</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">    
               <% if (isAuth) { %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/add-product">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/product-cart/">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/shop-view">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/orders">order</a>
          </li>
          
            <li class="nav-item">
              <a class="nav-link" href="/logout">signout</a>
            
          <% }else{ %>
         
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/product-view">Product</a>
          </li>
        
          <% } %>
      </div>
    </div>
  </nav>